<board-toolbar [board]="test_board" class="board-toolbar"></board-toolbar>
<div class="board-decks-container">
  <deck
    [deck]="deck"
    *ngFor="let deck of test_board.decks"></deck>
  <!-- sample deck -->
  <div class="deck">
    <div class="deck-header">
      <span class="deck-title">Sample Deck</span>
      <span class="deck-subtitle">Subtitle to put integration info</span>
    </div>
    <div class="deck-cards">
      <div class="deck-card">
        <ul class="deck-card-labels">
          <li class="deck-card-label orange"></li>
          <li class="deck-card-label turq"></li>
        </ul>
        <span class="deck-card-title">Card Test #1</span>
      </div>
      <div class="deck-card">
        <span class="deck-card-title">Card w/ no labels!</span>
      </div>
      <div class="deck-card">
        <ul class="deck-card-labels">
          <li class="deck-card-label red"></li>
          <li class="deck-card-label orange"></li>
          <li class="deck-card-label yellow"></li>
          <li class="deck-card-label green"></li>
          <li class="deck-card-label turq"></li>
          <li class="deck-card-label blue"></li>
          <li class="deck-card-label purple"></li>
          <li class="deck-card-label black"></li>
        </ul>
        <span class="deck-card-title">Now a card with all default labels! (special, isn't it?)</span>
      </div>
    </div>
    <div class="deck-action-add-card">+ ADD CARD</div>
  </div>
</div>
