
/* Board Toolbar */

.board-toolbar {
  padding: 0 32px;
  padding-top: 40px;
  padding-right: 90px;
}

.board-title {
  display: inline-block;
}
.board-title-workspace {
  font-size: 2em;
  font-weight: 700;
  color: #DF41FF;
}
.board-title-board {
  font-size: 2em;
  font-weight: 600;
  color: #A919C7;
  cursor: pointer;
}

.board-search {
  padding: 0.6em 1.2em;
  border-radius: 6px;
  background-color: #F0F0F0;
  font-size: 1em;
  font-family: 'Alegreya Sans', sans-serif;
  outline: none;
  -webkit-outline: none;
  border: 0;
  float: right;
  font-style: italic;
  color: #9B9B9B;
}
