<section class="settings-right">
  <h1>{{selectedSetting.title}}</h1>
  <br>
  <div class="setting-section" *ngFor="let form of selectedSetting.forms">
    <div class="setting-headline">
      <b>{{form.title}}</b>
      <p>{{form.short_desc}}</p>
    </div>
    <setting-form [form]="form"></setting-form>
  </div>
  <div class="setting-section">
    <div class="setting-headline">
      <b>DELETE ACCOUNT</b>
      <p>Erase all of your data from Project Kanban, forever.</p>
    </div>
    <div class="setting-form">
      <p>This is probably the worst place to put an account deletion setting, but we'll do it because this is not really a working mockup. Just click on that big red button that says “Delete Account” to permanently delete your account from Project Kanban.</p>
      <br>
      <button class="red">DELETE YOUR ACCOUNT</button>
    </div>
  </div>
</section>
